@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.sport-btn {
  font-family: 'Bebas Neue', cursive;
}

.shadow-cta {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(31,41,55, 0.618);
  box-shadow: 0px 0px 15px 5px rgba(31,41,55, 0.618);
}

.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #f09,
    0 0 82px #f09,
    0 0 92px #f09,
    0 0 102px #f09,
    0 0 151px #f09;
}

.neonAnimate {
  animation: pulsate 0.016s ease-in-out infinite alternate;     
}

/* Pulsating animation */
@keyframes pulsate {
    
  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
  
  }
  
  0% {

    text-shadow:
    0 0 4px #fff,
    0 0 8px #fff,
    0 0 16px #fff,
    0 0 36px #f09,
    0 0 73px #f09,
    0 0 80px #f09,
    0 0 90px #f09,
    0 0 130px #f09;

  }
}

